

Source: https://www.kaggle.com/datasets/hm-land-registry/uk-housing-prices-paid

Transaction unique identifier: transaction reference number.
Price Sale price: as stated on the transfer deed.
Date of Transfer Date: when the sale was completed, as stated on the transfer deed.
Property Type: D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other
Old/New Indicates the age of the property and applies to all price paid transactions, residential and non-residential.
Y = a newly built property, N = an established residential building
Duration Relates to the tenure: F = Freehold, L= Leasehold etc.

PPD Category Type Indicates the type of Price Paid transaction.
A = Standard Price Paid entry, includes single residential property sold for full market value.
B = Additional Price Paid entry including transfers under a power of sale/repossessions, buy-to-lets (where they can be identified by a Mortgage) and transfers to non-private individuals. Note that category B does not separately identify the transaction types stated. HM Land Registry has been collecting information on Category A transactions from January 1995. Category B transactions were identified from October 2013.

Record Status - monthly file only Indicates additions, changes and deletions to the records.(see guide below).
A = Addition
C = Change
D = Delete.

Note that where a transaction changes category type due to misallocation (as above) it will be deleted from the original category type and added to the correct category with a new transaction unique identifier.

This data was kindly released by HM Land Registry under the Open Government License 3.0.

Data produced by HM Land Registry Â© Crown copyright 2017.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error
import seaborn as sns

In [5]:
df = pd.read_csv(r"C:\Users\aa1\Desktop\python_projects\Tutorials\House Price Predictions\US-House-Prediction-p1\UK Land Registry Transactions.csv")

In [6]:
df.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A

Comverting the codes to their full names
D = Detached, S = Semi-Detached, T = Terraced, F = Flats/Maisonettes, O = Other

In [22]:
df['County'].value_counts()

County
GREATER LONDON        2993422
GREATER MANCHESTER     985772
WEST MIDLANDS          856803
WEST YORKSHIRE         849862
KENT                   636515
                       ...
WEST GLAMORGAN           2048
GWENT                    1897
SOUTH GLAMORGAN          1775
CLEVELAND                1766
ISLES OF SCILLY           473
Name: count, Length: 127, dtype: int64

In [11]:
pt_map = {'D': 'Detached',
          'S': 'Semi-Detached',
          'T': 'Terraced',
          'F': 'Flats',
          'O': 'Other'}

df['Property Type']=df['Property Type'].map(pt_map)

In [12]:
df.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,Terraced,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,Semi-Detached,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,Terraced,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,Terraced,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,Semi-Detached,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A

In [13]:
df['Old/New'].value_counts()

Old/New
N    20192676
Y     2296672
Name: count, dtype: int64

In [15]:
oldnew_map = {'N': 'New',
              'O': 'Old'}

df['Old/New']=df['Old/New'].map(oldnew_map)

In [16]:
df['Duration'].value_counts()

Duration
F    17176410
L     5312258
U         680
Name: count, dtype: int64

In [21]:
duration_map = {'F': 'Freehold',
                'L': 'Leasehold',
                'U': 'Commonhold'}

df['Duration']=df['Duration'].map(duration_map)